@page
@using lngCollector.Tools
@model lngCollector.Pages.Matrix.M100x100Model
@{
    ViewData["Title"] = "Matrix 100x100";
}

Matrix @Model.RowsCount x @Model.ColsCount | Cells : @(Model.RowsCount * Model.ColsCount) \ @Model.WordCount

@for (int row = 0; row < Model.RowsCount; row++)
{
    <div class="row">
        @for (int col = 0; col < Model.ColsCount; col++)
        {
            @if (Model.mi[row, col] != null)
            {
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.mi[row, col].text" asp-page="/games/makeSentences" asp-route-ID="@Model.mi[row, col].id" class="btn mtrxItem @(LvlMarker.getLevel(Model.mi[row, col]))">
                    @Model.mi[row, col].weight
                </a>
            }
            else
            {
                <a href="#" class="btn disabled mtrxItem @(LvlMarker.getLevel(Model.mi[row, col]))">X</a>
            }
        }
    </div>
}

@section Scripts{
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
}