@page
@using Microsoft.AspNetCore.Components
@model lngCollector.Pages.WG.MatrixesViewModel
@{
}

<h3>Matrixes</h3>

<div>
    <a asp-page="/wg/matrixedit" asp-page-handler="create" class="btn">
        <img src="/img/icons8-add-50.png" asp-append-version="true" />
    </a>

    <a asp-page="/wg/deletedmatrixesview" class="btn">
        <img src="/img/icons8-recycle-bin-64.png" asp-append-version="true" />
    </a>
</div>

<hr/>

<div class="row">
    @foreach (var item in Model.Matrices)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-deck">

                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">

                    <div class="card-header">

                        <div class="row">

                            <div class="col-2">
                                <a asp-page="/wg/matrixdetail" asp-route-id="@item.id" class="btn btn-outline-warning">...</a>
                            </div>

                            <div class="col-8">
                                @item.name
                            </div>

                        </div>

                    </div>

                    <div class="card-body">
                        <div class="card-text">words : @item.word_count | sentences : @item.snt_count_actually / @item.snt_count_target</div>
                         <hr />
                        <p class="card-text text-truncate">
                            @item.content_short
                        </p>
                    </div>
                </div>

            </div>
        </div>
    }
</div>