@page "{id}/{handler?}/{sentid?}"

@using lngCollector.Tools

@model lngCollector.Pages.games.makeSentencesModel

@{
    ViewData["Title"] = $"Game - '{Model.Word.text}'";
    int c = 1;
}

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}

<div class="row">
    <div class="col">
        <a asp-page="/Word/Detail" asp-route-ID="@Model.Word.id" class="btn btn-outline-info m-1">Detail</a>
    </div>
</div>

@*<span class="badge rounded-pill @(LvlMarker.getLevel(Model.Word))">WORD LEVEL : @Model.Word.weight</span>
<span class="badge rounded-pill @(LvlMarker.getLevel(Model.Word))">@Model.Sentences.Count() snts</span>*@

<span class="badge rounded-pill @(LvlMarker.getLevel(Model.Word))">Word weight: @Model.Sentences.Count()</span>

<br>Make sentences game for "<b>@Model.Word.text</b>"

<form method="post" class="mt-3" enctype="multipart/form-data">
    <input type="hidden" asp-for="Word.id" />

    <div class="mb-3">

        @*<textarea asp-for="NewSentence" class="form-control" rows="5">@Model.NewSentence</textarea>*@

        <textarea asp-for="NewSentence" class="form-control" rows="5">@Model.NewSentence</textarea>

        <br>
        
        @*<input class="btn btn-success" type="submit" asp-page-handler="CommitSentence" value="Commit" />*@

        <button class="btn btn-success" type="submit" asp-page-handler="CommitSentence">Commit</button>

    </div>
</form>

<div class="row">
    <div class="col">
        <div class="alert alert-success">
            @foreach (var item in Model.Sentences)
            {
@*                <div class="btn-group" role="group" aria-label="snt_work">
                    <a asp-page="/tools/sentenceEdit" asp-route-id="@item.Id" class="btn badge bg-info">E</a>
                    <a asp-page-handler="RemoveSentence" asp-route-id="@Model.Word.id" asp-route-sentid="@item.Id" class="btn badge bg-danger">X</a>
                </div>*@

                <a asp-page="/tools/sentenceEdit" asp-route-id="@item.Id" class="btn badge bg-info">E</a>

                @(c++)

                <text>) </text>  @item.Text
                <hr>
            }
        </div>
    </div>
</div>
